.profile__info {
  display: flex;
  row-gap: 8px;
  flex-direction: column;
  justify-content: center;
  max-width: 336px;
}

@media (max-width: 636px) {
  .profile__info {
    align-items: center;
    row-gap: 8px;
  }
}