.page {
  max-width: 918px;
  width: 100%;
  margin: 0 auto;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  min-height: 100vh;
}
